/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/

$col1: #987d7c;
$col2: #483c46;
$col3: #cbd4c2;
$col4: #522b29;
$col5: #5758a8;
$col6: #d38b5d;

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$headfont: 'Oswald', sans-serif;
$bodyfont: 'Open Sans Condensed', serif;

@function smartscale($color, $scale: 5%, $threshold: 60%) {
  @if lightness($color) > $threshold {
    $scale: -$scale;
  }
  @return scale-color($color, $lightness: $scale);
}

$tablet-width: 62em;
$desktop-width: 75em;

@mixin phone {
	@media only screen and (max-width: $tablet-width) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop-width) {
		@content;
	}
}

@mixin pixany {
	@media (orientation : portrait) { 
		@content
	}
}

@mixin pix150 {
	@media (min-resolution: 150dpi) and (orientation : portrait) { 
		@content
	}
}

@mixin pix200 {
	@media (min-resolution: 200dpi) and (orientation : portrait) { 
		@content
	}
}

@mixin pix250 {
	@media (min-resolution: 250dpi) and (orientation : portrait) {
		@content
	}
}

@mixin pix300 {
	@media (min-resolution: 300dpi) and (orientation : portrait) {
		@content
	}
}

@mixin header($col) {
	font-family: $headfont;
	font-weight: bold;
	font-size: 4rem;
	@if $col != 'none' {
		color: smartscale($col, 30%);
	}
}

@mixin subheader($col) {
	font-family: $headfont;
	font-size: 2em;
	@if $col != 'none' {
		color: smartscale($col, 20%);
	}
}

@mixin smallheader($col) {
	font-family: $bodyfont;
	font-size: 1.6em;
	@if $col != 'none' {
		color: smartscale($col, 30%);
	}	
}

@mixin page($col, $altcol) {

	@if $col != 'none' {
		$textcol: smartscale($col, 20%)
	}
	@if $altcol != 'none' {
		$textalt: smartscale($altcol, 0%)
	}

	@if $col != 'none' {
		background-color: $col;
		color: $textcol;
	}

	p {
		font-family: $bodyfont;
		font-size: 1em;
		@if $col != 'none' {
			color: smartscale($col, 30%);
		}
	}

	@if $altcol != 'none' {
		.alt.col {
			color: $textalt;
		}
	}

	.header {
		@include header($col);
	}

	.subheader {
		@include subheader($col);
	}

	.smallheader {
		@include smallheader($col);
	}

	a {
		text-decoration: none;
	}

	@if $altcol != 'none' {
		a {
			color: mix($textcol, $altcol, 66%);

			&:hover {
				color: mix($textcol, $altcol, 33%);
			}
			&:active {
				color: mix($textcol, $altcol, 0%);
			}

			&.no-styling {
				color: $textcol;
				&:hover, &:active {
					color: $textcol;
				}
			}
		}
	}

	.center {
		text-align: center;
	}

	@if $col != 'none' {
		$background: smartscale($col, 20%);

		.fp-controlArrow, .fp-slidesNav {
			&.fp-next {
				border-left-color: $background;
			}
			&.fp-prev {
				border-right-color: $background;
			}
			ul li a {
				span {
					border: 2px solid transparentize($background, 0.3);			
				}
				&.active span {
					background-color: transparentize($background, 0.5);
				}
			}
		}
	}

	.button {
		
		border: none;
		outline: 0;
		padding: 0.4em;
		font-family: $headfont;
		font-size: 2em;
		border-radius: 0.2em;
		text-decoration: none;
		cursor: pointer;
		transition: color 0.5s, background-color 0.5s, opacity 1s;

		@if $col != 'none' {
			background-color: $background;
			color: $col;

			&:hover {
				$hoverbackground: smartscale($background, 8%);
				background-color: $hoverbackground;
				color: smartscale($hoverbackground, 30%);
			}	

			&:active {
				$activebackground: smartscale($background, 20%);
				background-color: $activebackground;
				color: smartscale($activebackground, 30%);
			}
		}
	}

	img {
		border-width: 3px;
		border-style: solid;

		@if $altcol != 'none' {
			border-color: $textalt;
		}
	}
}

.no-controls {
	.fp-controlArrow, .fp-slidesNav, .button {
		opacity: 0 !important;
	}
}

.col1 { color: $col1 }
.col2 { color: $col2 }
.col3 { color: $col3 }
.col4 { color: $col4 }
.col5 { color: $col5 }

.pagecol1, .slide.pagecol1 { @include page($col1, $col4); }
.pagecol2, .slide.pagecol2 { @include page($col2, $col6); }
.pagecol3, .slide.pagecol3 { @include page($col3, $col6); }
.pagecol4, .slide.pagecol4 { @include page($col4, $col1); }
.pagecol5, .slide.pagecol5 { @include page($col5, $col4); }
.pagecol6, .slide.pagecol6 { @include page($col6, $col3); }

.section {

	.topbar {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 1em;
		height: 6em;
		z-index: 100;
	}

	.footer {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		height: 6em;
		z-index: 100;
	}

	.top-right {
		position: absolute;
		right: 1em;
		top: 1em;
		z-index: 101;
	}
}

.welcome {
	@include page($col1, $col4);

	#richsilv g {
		visibility: hidden;
		stroke: smartscale($col1, 30%);
		stroke-width: 2px;
		fill: transparent;
	}
}

.meteor {
	@include page($col2, $col6);
}

.portfolio {
	@include page('none', 'none');
}

.contact {
	@include page($col4, $col1);

	@media only screen and (max-height: 1000px) {
		.smallheader {
			margin-top: 0.5em;
			margin-bottom: 0.5em
		}
	}		

}

html {

	font-size: 1.1vw;

	@include pixany {
		font-size: 20px
	}
	@include pix150 {
		font-size: 22px;
	}
	@include pix200 {
		font-size: 23px;
	}
	@include pix250 {
		font-size: 24px;
	}
	@include pix300 {
		font-size: 25px;
	}

}

.list {
	$margin: 0.5em;

	font-family: $bodyfont;
	font-size: 1.8em;
	list-style-type: none;

	p {
		position: relative;
		margin-left: 1em;

		@include phone {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}

		.bullet {
			position: absolute;
			top: 0.25em;
			left: -1.1em;
			opacity: 0.7;
		}
	}
}

[data-journey] {
	$margin: 0.1em;

	> * {
		font-size: 2em;
		opacity: 0;
		display: inline-block;
		margin-left: $margin;
		margin-right: $margin;
	}
	> .step {
		font-family: 'Oswald', sans-serif;
	}
}

.row {

	> .compact {
		margin: auto;
	}

	&.full-height {
		height: 100%;
	}
}

.revealable {

	&.hidden {
		visibility: hidden;
		opacity: 0;

		&.show-hover {
			visibility: visible;
			&:hover {
				opacity: 1;
			}
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	&.small-margins {
		margin-top: 0.35em;
		margin-bottom:0.35em;
	}
}

.screenshot {

	display: block;
	text-align: center;

	img {

		@include phone {
			max-height: 38vh;
			max-width: 80vw;
		}
		@include tablet {
			max-height: 55vh;
			max-width: 40vw;
		}
		@include desktop {
			max-height: 55vh;
			max-width: 40vw;		
		}

	    padding: 5px;
	    border: 3px solid rgba(0, 0, 0, 0.4);
		display:inline-block;	
	}
}

.fullpage {
	width: 100%;
	height: 100%;
	position: fixed;
}

i.large {
	font-size: 2em;
	vertical-align: -0.25em;
}

.gap-before {
	margin-left: 1.5em;
}

#name-adjust {
	@include desktop {
		padding-top: 2.25%;
	}
}

.no-top-bottom-margin {
	margin-top: 0;
	margin-bottom: 0;

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}

// FOR WALKWAY

.section {

	.slide {
		position: relative;
	}

	.fp-slidesNav {
		bottom: 6em;
	}

}

// CUSTOM ICONS

@font-face {
	font-family: 'rsicons';
	src:url('fonts/rsicons.eot?-3iccfa');
	src:url('fonts/rsicons.eot?#iefix-3iccfa') format('embedded-opentype'),
		url('fonts/rsicons.woff?-3iccfa') format('woff'),
		url('fonts/rsicons.ttf?-3iccfa') format('truetype'),
		url('fonts/rsicons.svg?-3iccfa#rsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rsicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nmg:before {
	content: "\e600";
}

.icon-atmosphere:before {
	content: "\e607";
}

// LOGIN BUTTONS

#login-buttons {

	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: $col1;
	font-family: $headfont;
	font-size: 1.5em;
	padding: 1.5em;

	.login-button {
		color: $col3;
	}

	[class*='login-form-'] {

		.login-close-text, .login-button, .additional-link {
			color: $col3;
		}

		.error-message {
			color: $col2;
		}
	}

	label {
		display: inline-block;
		width: 7em;
	}

	input[type="text"], input[type="password"] {
		padding: 10px;
		border: solid 5px rgba(0, 0, 0, 0.4);
		transition: border 0.3s;
		font-family: $bodyfont;

		&:focus, &.focus {
			border: solid 5px rgba(0, 0, 0, 0.6);
		}
	}

}

// ADMIN

.admin-container {
	font-family: $bodyfont;
	margin: 1em;

	.br {
		line-height: 1;
		height: 0;
		border-top: solid 1px #444;
		border-bottom: solid 1px #444;
		width: 100%;
	}

	button {

		$col: rgb(227, 178, 203);

		$textcol: smartscale($col, 20%);
		
		background-color: $col;
		color: $textcol;

		border: none;
		outline: 0;
		padding: 0.2em;
		margin: 0.1em;
		font-family: $headfont;
		font-size: 1.3em;
		border-radius: 0.2em;
		text-decoration: none;
		cursor: pointer;
		transition: color 0.5s, background-color 0.5s, opacity 1s;

		@if $col != 'none' {

			&:hover {
				$hoverbackground: smartscale($col, 8%);
				background-color: $hoverbackground;
				color: smartscale($hoverbackground, 30%);
			}	

			&:active {
				$activebackground: smartscale($col, 20%);
				background-color: $activebackground;
				color: smartscale($activebackground, 30%);
			}
		}
	}
}

#insertItemForm, #updateItemForm {
	.form-group {
		margin-top: 2px;
		margin-bottom: 2px;

		label {
			float: left;
			width: 20%;
			max-width: 150px;
			min-width: 50px;
		}
		input {
			width: 80%;
			max-width: 500px;
			min-width: 100px
		}
	}
}